<footer class="allnav mt-auto text-white-50">
  <p>
    <a
      href="https://ieee.nitk.ac.in/diode.html"
      style="text-decoration: none; color: inherit"
      >&copy; 2022. IEEE-NITK DIODE</a
    >
  </p>
</footer>
