<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IEEE-EUREKA</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <div class="body-c d-flex text-center text-white">
      <div class="container-md d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
          <div>
            <h3 class="float-md-left mb-0">IEEE-NITK</h3>
            <nav class="nav nav-masthead justify-content-center float-md-right">
              <a class="nav-link" aria-current="page" href="#"
                ><%= currentUser.username %></a
              >
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link text-primary" href="/more">More</a>
              <% if(currentUser) { %>
              <a class="nav-link" href="/stones">Stones</a>
              <% } %> <%if (currentUser && currentUser.username==="admin") { %>
              <a class="nav-link" href="/stones/new">new Stone</a>
              <% } %>
              <a class="nav-link" href="/stones/leaderboard">leaderboard</a>
              <% if(!currentUser) { %>
              <a class="nav-link" href="/login">Login</a>
              <a class="nav-link" href="/register">Register</a>
              <% } else { %>
              <a class="nav-link" href="/logout">Logout</a>
              <% } %>
            </nav>
          </div>
        </header>
        <main class="px-3 mt-auto">
          <img src="https://i.imgur.com/tQSb7K4.png" width="100%" alt="" />
          <p class="lead" style="font-size: 1.2rem">
            Elecktron <br />
            Welcome to the End game of EUREKA!
          </p>
          <h3>10th January 2022 6:00 P.M. - 12:00 A.M.</h3>
        </main>

        <footer class="mt-auto text-white-50">
          <p>&copy; 2022. IEEE-NITK DIODE</p>
        </footer>
      </div>
    </div>
    <!-- particles.js container -->
    <div id="particles-js"></div>
    <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>

    <script src="/javascripts/particlejs.js"></script>
  </body>
</html>
