<% layout('/layouts/boilerplate')%>

<div class="card-group text-dark">
  <div class="card text-white bg-dark mb-3 col-md-6 mx-3">
    <div class="card-header">Embedathon</div>
    <img
      class="card-img-top col-md-6"
      src="https://i.imgur.com/4xOLZs4.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text">
        The fourth edition of the flagship event of IEEE NITK, we bring you a
        competition which takes your knowledge of analog electronics and turns
        it into a working embedded systems project! More details soon...
      </p>
      <p class="card-text">
        <p>
          <a class=" text-white" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
            Contact here
          For more details
          </a>
        </p>
        <div class="collapse" id="collapseExample1">
          <div class="bg-secondary card card-body">
            Shobuj Paul <br>Contact No:+91 8010255236 <br> Email: shobuj.191ch048@nitk.edu.in
          </div>
        </div>
      </p>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3 col-md-6 mx-3">
    <div class="card-header">Impulse</div>
    <img
      class="card-img-top col-md-6"
      src="https://i.imgur.com/6V9Ueky.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text">
        One of its kind Signal Processing Hackathon organised by IEEE NITK. Stay
        tuned for more updates. All signals must be processed...
      </p>
      <p class="card-text">
        <p>
          <a class=" text-white" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
            Contact here
          For more details
          </a>
        </p>
        <div class="collapse" id="collapseExample2">
          <div class="bg-secondary card card-body">
            Shobuj Paul <br>Contact No:+91 8010255236 <br> Email: shobuj.191ch048@nitk.edu.in
          </div>
        </div>
      </p>
    </div>
  </div>
</div>

