<% layout('/layouts/boilerplate')%>
<main class="px-2">
  <h1 style="font-family: 'Staatliches', cursive">Event Begins in</h1>
  <h1
    style="font-family: 'Staatliches', cursive; font-size: 6vw"
    id="cd-site-timer"
  >
    0 Days 0 Hours 0 Minutes 0 Seconds
  </h1>
</main>
