<% layout('/layouts/boilerplate')%>

<div class="card text-white bg-dark" style="">
  <div class="card-header">Stones</div>
  <div class="card-deck">
    <br />
    <h5 class="card-title">Collect All the stones to win!</h5>
    <br />
    <div class="container d-flex flex-wrap justify-content-around" style="">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem">
        <div class="card-header">Header</div>
        <div class="card-body">
          <img
            src="https://static.wikia.nocookie.net/marvel-fan-dungeons-and-dragons/images/d/df/REALITYSTONE.png"
            alt=""
            style="width: 7vw"
          />
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem">
        <div class="card-header"></div>
        <div class="card-body">
          <img
            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e01f9dd1-f4fa-4f67-bac7-ccdcc28eba07/dbrt3kt-6e47b472-f484-483a-9cc7-fcaecf27909e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2UwMWY5ZGQxLWY0ZmEtNGY2Ny1iYWM3LWNjZGNjMjhlYmEwN1wvZGJydDNrdC02ZTQ3YjQ3Mi1mNDg0LTQ4M2EtOWNjNy1mY2FlY2YyNzkwOWUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.SsuM4-V0OrueCwEqMfMkuJKWrygv03NDu1akShDWXN8"
            alt=""
            style="width: 7vw"
          />
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem">
        <div class="card-header">Space Stone</div>
        <div class="card-body">
          <img
            src="https://qph.fs.quoracdn.net/main-qimg-eaa64a24f42ac4369c9e1cc599dfec19"
            alt=""
            style="width: 7vw"
          />
          <h5 class="card-title">Secondary card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card text-white bg-success mb-3" style="max-width: 18rem">
        <div class="card-header">Header</div>
        <div class="card-body">
          <img
            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e01f9dd1-f4fa-4f67-bac7-ccdcc28eba07/dbrx6jw-adea8c2a-afce-4d8d-8f5a-1bbef3f65f38.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2UwMWY5ZGQxLWY0ZmEtNGY2Ny1iYWM3LWNjZGNjMjhlYmEwN1wvZGJyeDZqdy1hZGVhOGMyYS1hZmNlLTRkOGQtOGY1YS0xYmJlZjNmNjVmMzgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.9KPGs8K-SZZljDrTm8AYw2TtPYkxSrPWXnZJYPSbwPI"
            alt=""
            style="width: 7vw"
          />
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card text-white bg-danger mb-3" style="max-width: 18rem">
        <div class="card-header">Mind Stone</div>
        <div class="card-body">
          <img
            src="https://www.pngkit.com/png/full/167-1674909_mind-stone-by-saiol-power-stone-png-saiol1000.png"
            alt=""
            style="width: 7vw"
          />
          <h5 class="card-title">Danger card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card text-white bg-warning mb-3" style="max-width: 18rem">
        <div class="card-header">Time Stone</div>
        <div class="card-body">
          <img
            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e01f9dd1-f4fa-4f67-bac7-ccdcc28eba07/dbrx6jz-6bf81f6f-64fb-46d9-8e55-f266b8d6d5fb.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2UwMWY5ZGQxLWY0ZmEtNGY2Ny1iYWM3LWNjZGNjMjhlYmEwN1wvZGJyeDZqei02YmY4MWY2Zi02NGZiLTQ2ZDktOGU1NS1mMjY2YjhkNmQ1ZmIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.enPKAVQNv7CnT5ZodCQMYjFIAOH_7GjbdwConUUK3xE"
            alt=""
            style="width: 7vw"
          />
          <h5 class="card-title">Warning card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
