<% layout('/layouts/boilerplate')%>
<div class="card bg-light mb-3 text-dark bg-opacity-75" style="">
  <div class="card-header">Leaderboard</div>
  <div class="card-body">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Team Username</th>
          <th scope="col">Last Submission</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i in users) {%>
        <tr>
          <th scope="row"><%= Number(i)+Number(1) %></th>
          <td><%= users[i].username %></td>
          <td><%= users[i].lastSubmission %></td>
          <td><%= users[i].score %></td>
        </tr>
        <%} %>
      </tbody>
    </table>
  </div>
</div>
