<% layout('/layouts/boilerplate')%>
<div class="card bg-light mb-3 text-dark bg-opacity-75" style="">
  <div class="card-header">Leaderboard</div>
  <div class="card-body">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Team Username</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Octopus Throwers</td>
          <td>69</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>ECE bruuhhhers</td>
          <td>45</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Maggiedox</td>
          <td>32</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
