<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1455763916899-e8b50eca9967" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Sign up</h5>
                    <form action="/register" method="POST" novalidate class="needs-validation">
                        <div class='mb-3'>
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required>
                            <div class="valid-feedback">Looks Good</div>
                        </div>
                        <div class='mb-3'>
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">Looks Good</div>
                        </div>
                        <div class='mb-3'>
                            <label class="form-label" for="username">password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">Looks Good</div>
                        </div>
                        <button class="btn btn-success">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body{
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("https://images.unsplash.com/photo-1517495306984-f84210f9daa8");
        background-size: cover;
        background-position: center;
    }
</style>